In [1]:
"""
사전정의 데이터 셀
"""
members = [
    {
        '성': '김',
        '이름': '이팝',
        '소속': '나무팀',
        '국적': '대한민국',
        '나이': 40,
    },
    {
        '성': '김',
        '이름': '단풍',
        '소속': '나무팀',
        '국적': '대한민국',
        '나이': 29,
    },
    {
        '성': '이',
        '이름': '버들',
        '소속': '나무팀',
        '국적': '대한민국',
        '나이': 34,
    },
    {
        '성': '박',
        '이름': '바오밥',
        '소속': '나무팀',
        '국적': '대한민국',
        '나이': 27,
    },
    {
        '성': 'May',
        '이름': 'Blossom',
        '소속': '나무팀',
        '국적': '미국',
        '나이': 28,
    },
    {
        '성': '김',
        '이름': '샤프란',
        '소속': '꽃팀',
        '국적': '대한민국',
        '나이': 42,
    },
    {
        '성': '김',
        '이름': '튤립',
        '소속': '꽃팀',
        '국적': '대한민국',
        '나이': 37,
    },
    {
        '성': '박',
        '이름': '수선화',
        '소속': '꽃팀',
        '국적': '대한민국',
        '나이': 33,
    },
    {
        '성': '박',
        '이름': '앵초',
        '소속': '꽃팀',
        '국적': '대한민국',
        '나이': 28,
    },
    {
        '성': 'Sharon',
        '이름': 'Rose',
        '소속': '꽃팀',
        '국적': '미국',
        '나이': 23,
    },
    {
        '성': '최',
        '이름': '매실',
        '소속': '열매팀',
        '국적': '대한민국',
        '나이': 50,
    },
    {
        '성': '이',
        '이름': '자두',
        '소속': '열매팀',
        '국적': '대한민국',
        '나이': 33,
    },
    {
        '성': '임',
        '이름': '키위',
        '소속': '열매팀',
        '국적': '대한민국',
        '나이': 26,
    },
]

prices = [300, 500, 350, 110, 280]

## [Q1] len을 이용해서 원하는 문자열을 my_string 변수에 저장하고 my_string 변수의 문자열의 길이를 출력해주세요.

In [12]:
my_string = "파이썬 진짜로 잘 하고 싶다!!"
print(f"'{my_string}'의 길이는 {len(my_string)} 입니다")

'파이썬 진짜로 잘 하고 싶다!!'의 길이는 17 입니다

## [Q2] len과 for loop를 이용해서 members에 저장된 모든 사원의 이름의 길이의 합을 구하고 출력해주세요.

In [15]:
total_mem_len = 0

for member in members:
    total_mem_len += len(member['이름']) #len() 길이 재는 함수

print(f"사원의 이름 길이의 합은 {total_mem_len}입니다")

사원의 이름 길이의 합은 36입니다

## [Q3] 사전 정의된 데이터인 prices 변수의 sum min, max 를 구하고 출력해주세요.

### [Q3-1] 모든 상품의 가격의 합을 출력해주세요.

In [19]:
print(f"모든 상품 가격의 합은 {sum(prices)}입니다")

모든 상품 가격의 합은 1540입니다

### [Q3-2] 가장 높은 가격을 가진 상품의 가격을 출력해주세요.

In [21]:
print(f"가장 높은 가격을 가진 상품의 가격은 {max(prices)}입니다")

가장 높은 가격을 가진 상품의 가격은 500입니다

### [Q3-3] 가장 낮은 가격을 가진 상품의 가격을 출력해주세요.

In [22]:
print(f"가장 낮은 가격을 가진 상품의 가격은 {min(prices)}입니다")

가장 낮은 가격을 가진 상품의 가격은 110입니다