### [Q1] 리스트로 부서 내 사원들을 한 번에 모아서 출력해주세요.

In [16]:
my_team = ["김단풍", "이버들", "박바오밥"] #[Q1-1]
my_team #[Q1-2]

['김단풍', '이버들', '박바오밥']

### [Q2] 튜플을 이용해 순서가 변하지 않게 데이터를 표현해보아요.

In [9]:
name = ("박", "바오밥") #[Q2-1]
print('박바오밥 사원의 성은', name[0], '이고, 이름은', name[1], '임이 확실해.') #[Q2-2]

박바오밥 사원의 성은 박 이고, 이름은 바오밥 임이 확실해.

In [15]:
my_team2 = [("김","단풍"), ("이","버들"), ("박","바오밥")] #[Q2-3]
my_team2 #[Q2-4]

[('김', '단풍'), ('이', '버들'), ('박', '바오밥')]

### [Q3] 딕셔너리를 이용해 사원들의 이름을 구분해주세요.

In [18]:
name2 = {"이름" : "Blossom", "성" : "May"} #[Q3-1]
name2 #[Q3-2]

{'이름': 'Blossom', '성': 'May'}

In [19]:
my_team3 = [{"이름" : "단풍", "성" : "김"}, {"이름" : "버들", "성" : "이"}, {"이름" : "바오밥", "성" : "박"}, {"이름" : "Blossom", "성" : "May"}]#[Q3-3]
my_team3 #[Q3-4]

[{'이름': '단풍', '성': '김'},
 {'이름': '버들', '성': '이'},
 {'이름': '바오밥', '성': '박'},
 {'이름': 'Blossom', '성': 'May'}]